{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <div class="border-bottom py-2">
        <div><h2>{{ question.subject }}</h2></div>
        {% if question.modify_date %}
        <div><span><h6 class="card-subtitle mb-2 text-muted">
            asked &nbsp;&nbsp;&nbsp;&nbsp;: {{ question.create_date }} &nbsp;&nbsp;&nbsp; by : {{ question.author.username }} &nbsp;&nbsp;&nbsp; views : {{ question.hits }}
            <div>modified : {{ question.modify_date }}</div>
        </h6></span></div>
        {% else %}
        <div><span><h6 class="card-subtitle mb-2 text-muted">
            asked : {{ question.create_date }} &nbsp;&nbsp;&nbsp; by : {{ question.author.username }}</h6></span></div>
        {% endif %}
    </div>
    <div class="row my-3">
        <div class="col-1">
            <div class="bd-light text-center p-3 border font-weight-bolder mb-1">
                {{question.voter.count}}
            </div>
            <a href="{% url 'pybo:vote_question' question.id %}"
               class="recommend btn btn-sm btn-secondary btn-block my-1">추천</a>
        </div>
        <div class="col-11">
            <div class="card">
                <div class="card-body">
                    <div class="card-text" style="white-space: pre-line;">
                        {{ question.content }}
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="badge badge-light text-dark p-2 text-left">
                        </div>
                    </div>
                    {% if request.user == question.author %}
                    <div class="my-3">
                        <a href="#" class="delete btn btn-sm btn-outline-secondary float-end"
                        data-uri="{% url 'pybo:question_delete' question.id %}">삭제</a>
                        <a href="{% url 'pybo:question_modify' question.id %}"
                        class = "btn btn-sm btn-outline-secondary float-end" style="margin-right: 10px;">수정</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <h5 class="border-bottom my-3 py-2">
        {{ question.answer_set.count }}개의 답변이 있습니다.
    </h5>
    {% for answer in question.answer_set.all %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">
                {{ answer.content }}
            </div>
            <div class="d-flex justify-content-end">
                {% if answer.modify_date %}
                <div class="badge bg-light text-dark p-2 mx-3">
                    <div class="mb-2">last modified date</div>
                    <div>{{ question.create_date }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2">
                    <div class="mb-2">{{ answer.author.username }}</div>
                    <div>{{ question.create_date }}</div>
                </div>
            </div>
            <div class="my-3">
                <a href="{% url 'pybo:vote_answer' answer.id  %}"
               class="recommend btn btn-sm btn-outline-secondary"> 추천
                <span class="badge rounded-pill bg-success">{{answer.voter.count}}</span>
                </a>
                {% if request.user == answer.author %}
                <a href="#" class="delete btn btn-sm btn-outline-secondary float-end"
                   data-uri="{% url 'pybo:answer_delete' answer.id %}">삭제</a>
                <a href="{% url 'pybo:answer_modify' answer.id  %}"
                    class="btn btn-sm btn-outline-secondary float-end" style="margin-right: 10px;">수정</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <form action="{% url 'pybo:answer_create' question.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="form-group">
            <textarea name="content" id="content" {% if not user.is_authenticated %}disabled{% endif %} class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="답변 등록" class="btn btn-primary my-3">
    </form>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

</script>
{% endblock %}





